   
         <!DOCTYPE html>
        <html lang="en">
        <head>
         
   {{>headerlinks}}
        </head>
        <body>
              {{>navbar}}
              
              <div class="container-fluid main_header">
                  <div class="row">
                    <div class="col-md-12 col-12 mx-auto">
                        <div class="row">
                          <div class="col-md-12 col-12 main_header_right">
                            <figure class="errimg">
                                <img src="images/error404.jpg" alt="thapa" class="img-fluid" title="thapa technical">
                                                      </figure>
                          </div>
                <p>welcome to weather app</p>
                   <h1>{{errorMsg}}</h1>
      <a href="/" target="_thapa"><button>go back</button></a>
                          </div>
                          <div class="col-md-6 col-12 main_header_right">
                           
                                </div>
                               
                                </div>
                                </div>
                              </div>
                            
                            </div>
                               {{>footer}}
                      </body>
                      </html>    